@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
body {
    background-image: url("https://images.pexels.com/photos/5380591/pexels-photo-5380591.jpeg?cs=srgb&dl=pexels-tima-miroshnichenko-5380591.jpg&fm=jpg");
    background-position: 50% 70%;
    background-repeat: no-repeat;
    margin: auto;
}

#content h1 {
    padding-top:0px;
    padding-left:900px;
    color:grey;
    font-weight: bolder;
    font-family: arial;
} 
#content p {
    padding-top:10px;
    padding-left:700px;
    padding-right:10px;
    padding-bottom: 20px;
    color:white;
    font-family: arial;
    font-size: 20px;
}

#box {
    padding: 30px 0px 30px 10px;
    margin: 10px 0px 10px 0px;
    border: 8px solid #606060;
    
}

#box h1 {
    padding-top:2px;
    padding-bottom:0px;
    padding-left:750px;
    color:grey;
    font-family: arial;
    
}

#box h2 {
    padding-top:20px;
    padding-left:10px;
    color:silver;
    font-weight: bolder;
    font-family: arial;
}

#box p {
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    font-family: arial;
    font-size: 20px;
}
#box ul {
    padding-left:50px;
    color:white;
    font-family: arial;
    font-size: 20px;
}
#box img {
    position: relative;
    padding-top: 20px;
    padding-left: 550px;
    padding-bottom: 10px;
    width: 40%;
    height: 40%;
}

#box a {
    padding-top:0px;
    padding-left:850px;
    padding-right:0px;
    color: grey;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

#box a:hover{
    text-decoration: underline;
    color: white;
}

#apps {
    padding: 30px 0px 30px 10px;
    margin: 10px 0px 10px 0px;
    border: 8px solid #606060;
    
}

#apps h1 {
    padding-top:2px;
    padding-bottom:0px;
    padding-left:800px;
    color:grey;
    font-family: arial;
    
}

#apps h2 {
    padding-top:20px;
    padding-left:10px;
    padding-bottom:20px;
    color:silver;
    font-weight: bolder;
    font-family: arial;
}

#apps p {
    padding-top:5px;
    padding-left:0px;
    padding-right:10px;
    color:white;
    font-family: arial;
    font-size: 20px;
}
#apps img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border:5px solid lightgreen;
    width: 40%;
    height: 40%;
}

#apps ol {
    padding-left:50px;
    color:white;
    font-family: arial;
    font-size: 20px;
}

#apps ul {
    padding-left:50px;
    color:white;
    font-family: arial;
    font-size: 20px;
}