@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
body {
    background-image: url("https://images.pexels.com/photos/5380591/pexels-photo-5380591.jpeg?cs=srgb&dl=pexels-tima-miroshnichenko-5380591.jpg&fm=jpg");
    background-position: 60% 60%;
    background-repeat: no-repeat;
    margin: auto;
}

header {
    display: block;
    margin: auto;
}
header h1 {
    color: silver;
    font-style: arial;
    font-weight: bolder;
    padding: 10px 0px 0px 10px;
}
header h2 {
    color: silver;
    font-style: arial;
    padding-left: 30px;
}

nav#menu {
    display: block;
}

nav#menu ul { /*configura estilo e posicionamento dos botoes do menu */
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 850px;
}
nav#menu li { /*configura cores do background dos botoes e distanciamento entre um e outro. */
    display: inline-block;
    background-color: #dddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s; /*associado ao tempo do hover para mudar a cor do botao */
}

nav#menu li:hover { /*muda a cor do fundo do botao quando passar o mouse */
    background-color: #606060;
}

nav#menu h1 { /*esconde o texto "menu principal"do HTML, ficando disponivel apenas semanticamente. */
    display: none;
}

nav#menu a{ /*muda a cor dos botoes do menu*/
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover { /*muda ara cor da letra e sublinha quando passar com o mouse por cima */
    color: #ffffff;
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    text-align-last: center;
    display: block;
}

a:hover{
    text-decoration: underline;
    color: white;
}

.content p {
    padding-top:50px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    font-weight: bold;
    font-family: arial;
    font-size: 20px;
}

.content h1 {
    padding-top:50px;
    padding-left:10px;
    color:grey;
    font-weight: bolder;
    font-family: arial;
    
}

.content h2 {
    padding-top:80px;
    padding-left: 850px;
    padding-bottom: 20px;
    color:grey;
    font-weight: bold;
    font-family: arial;
    font-size:20pt;
    
    
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    border:5px solid lightgreen;
    padding: 10px 10px 10px 10px;
}


