@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
body {
    background-image: url("https://images.pexels.com/photos/5380591/pexels-photo-5380591.jpeg?cs=srgb&dl=pexels-tima-miroshnichenko-5380591.jpg&fm=jpg");
    background-position: 0% 20%;
    background-repeat: no-repeat;
    margin: auto;
}

header {
    display: block;
    margin: auto;
}
header h1 {
    color: silver;
    font-style: arial;
    font-weight: bolder;
    padding: 10px 0px 0px 10px;
}
header h2 {
    color: silver;
    font-style: arial;
    padding-left: 30px;
}

/*formatacao do menu */

nav#menu {
    display: block;
    margin: auto;
    text-align: center;
    
}

nav#menu ul { /*configura estilo e posicionamento dos botoes do menu */
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 850px;
}
nav#menu li { /*configura cores do background dos botoes e distanciamento entre um e outro. */
    display: inline-block;
    background-color: #dddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s; /*associado ao tempo do hover para mudar a cor do botao */
}

nav#menu li:hover { /*muda a cor do fundo do botao quando passar o mouse */
    background-color: #606060;
}

nav#menu h1 { /*esconde o texto "menu principal"do HTML, ficando disponivel apenas semanticamente. */
    display: none;
}

nav#menu a{ /*muda a cor dos botoes do menu*/
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover { /*muda ara cor da letra e sublinha quando passar com o mouse por cima */
    color: #ffffff;
    text-decoration: underline;
}

input {
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 16pt;
	padding: 10px 20px;
	background-color: rgba(255,255,255,0.01);
	color: white;
	
}

input[type=submit]{
    background-color: rgba(255,255,255,0.05);
    border: none;
    color: white;
    cursor: pointer;
}

div#form-body {
    width: 420px;
    margin: 150px auto 0px auto;
    color: white;
}
div#form-body h1{
    text-align-last: center;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    text-align-last: center;
    display: block;
}

a:hover{
    text-decoration: underline;
    color: white;
}
.msg-success{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50.205.50,.3);
    border: 1px solid rgb(34,139,34);
}

.msg-error{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250,128,114,.3);
    border: 1px solid rgb(165,42,42);
}

